/* @override 
	http://localhost:3000/stylesheets/erpel.css?1264446229
	http://localhost:3000/stylesheets/erpel.css?1264446959
	http://localhost:3000/stylesheets/erpel.css?1264770688
	http://localhost:3000/stylesheets/erpel.css?1264865756
	http://localhost:3000/stylesheets/erpel.css?1264871093
*/

div#navheader li {
display: inline;
padding: 0px 1em
}

tr.zfarb0 {
	background-color:white;	
}
tr.zfarb1 {
	background-color: silver;
}
#AssetIndex {
	border: 2px solid black;
}

#AssetIndex th,td {
		border: 1px solid grey;

}

#tickettabelle_langtext {
	min-width: 15em;
	max-width: 25em;
}

th#tickettabelle_modell {
	min-width: 10em;
}

