/* @override http://localhost:3000/stylesheets/erpel.css */

/* navheader */
#navheader {
	white-space: nowrap;
}

#sessionbar {
	border: 1px dashed silver;
	float: right;
	padding: 0px;
}

#sessionbar li {
	display: inline;
	padding: 0px 0.5em;
}

li#sessionstatus {
	display: block;
}


#navlinks{
	float: left;
	padding: 0px;
	font-size: 120%;
	font-weight: bold;
}

#navlinks li {
	display: inline;
	padding: 0px 1em;

}

/* maincontent */

#maincontent{
	min-width: 80%;
	clear: both;
	border-top: 5px #4B7399 dashed;

}


/* Table coloration */

tr.zfarb0 {
	background-color:white;
}
tr.zfarb1 {
	background-color: silver;
}

td.prio1{
	background-color: red;
	font-weight:bold;
}
td.prio{
	text-align: center;
}


#AssetIndex {
	border: 2px solid black;
}

#AssetIndex th,td {
		border: 1px solid grey;

}

/* Allegemeine Tabellenoptionen */

td {
	font-size: 85%;
	height: auto;
	height:100%;
	}
	
table {
	height:100%;
}

/* Spaltenbreiten */

#tickettabelle_langtext {
	min-width: 15em;
	max-width: 25em;
}

th#tickettabelle_modell {
	min-width: 10em;
}

