<div id="maillinks">	
<% EMailText.all.each do |m| %> 
	<% body = m.body%>
	<% @ticket.location && found_addr = DataCenterAddress.matching_address(@ticket.location) %> 
	<% body.gsub!("_SUNID",@ticket.sunID) unless @ticket.sunID.blank? %>
	<% body.gsub!("_SERIAL",@ticket.serial) unless @ticket.serial.blank? %>
	<% body.gsub!("_VERTRAGSNR",@ticket.vertragsnummer) unless @ticket.vertragsnummer.blank? %>
	<% found_addr && body.gsub!("_ADDRESS",found_addr.address) %>
	<% body.gsub!("_LOCATION",@ticket.location) unless @ticket.location.blank? %>
	<%#ticketnummer has to be inserted after address weil address einen platzhalter für ticketnummer enthält %> 
	<% body.gsub!("_TICKETNR",@ticket.ticketnummer) unless @ticket.ticketnummer.blank?%>
	<p><%= mailto_link(m.name, :to => m.to, :subject => m.subject, :body => body) %> </p>
<% end %>

</div>
